<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        body{
            background:  -webkit-linear-gradient(bottom, #610675, #f18af7);
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div style="height: 97vh; display: flex; justify-self:center;align-items: center;
    font-size: 2rem; font-weight: bold; text-align: center; text-transform:uppercase;">
    <h1 style="width: 100%;">404: Page not found!</h1>
</div>
</body>
</html>
