<%- include("./partials/header.ejs") %>
<div style="height: 97vh; display: flex; justify-self:center;align-items: center;
    font-size: 6rem; font-weight: bold; text-align: center; text-transform:uppercase;">
    <h1 style="width: 100%;">404: Page not found!</h1>
</div>
<%- include("./partials/footer.ejs") %> 